<div class="panel panel-info">
	<div class="panel-heading">
		<h1>New: {{note.title}}</h1>
</div>
		<form>
		<div class="panel-body">
			<fieldset class="form-group">
				<label for="title">Title</label>
				<input class="form-control" type="text" id="title" name ="title" ng-model="note.title">
			</fieldset>

			<!-- to do add description to note model -->
			<fieldset class="form-group">
				<label for="description">Description</label>
				<input class="form-control" type="text" id="description" name ="description" ng-model="note.description">
			</fieldset>

			<fieldset class="form-group">
				<label for="category">Category</label>
				<!-- note from service category_id field in json -->
				<select ng-options="category.id as category.category for category in categories" ng-model="note.category_id" ></select>
			</fieldset>

			<fieldset class="form-group">
				<label for="User">User</label>
				<!-- user from service user_id field in json -->
				<select ng-options="user.id as user.name for user in users" ng-model="note.user_id" ></select>
			</fieldset>

			<fieldset class="form-group">
				<label for="content">Content</label>
				<textarea class="form-control" type="text" id="content" name ="content" ng-model="note.content"> </textarea>
			</fieldset>
		</form>
		</div>

			<div class="panel-footer">
				<input type="submit" value="{{submitting ? 'saving....' : 'save'}}" class="btn btn-default" ng-click="saveNote(note)" ng-disabled="submitting">
			</div>

</div>
