<div class="panel panel-info">
	<div class="panel-heading">
		<!-- user model updated to include category and user as part of note JSON -->
		<h2><strong>{{note.title}}</strong> ( by: {{note.user.name}} )</h2> 

	</div>

	<div class="panel-body">
		<h4> </h4>
		<h3>{{note.description}}</h3><br>
		<p>{{note.content}} </p>

		<h3><span class="label label-info">{{note.category.category}}</span></h3>

	</div>

	<div class="panel-footer">
		<a ng-href="#/notes/{{note.id}}/edit" class="btn btn-default">Edit Note</a>
		<a href="" ng-click="deleteNote(note)" class="btn btn-danger">Delete Note</a>
	</div>
</div>


