<div class="panel panel-info">
	<div class="panel-heading">
		<!-- user model updated to include category and user as part of note JSON -->
		<h2><strong>{{note.title}}</strong> ( by: {{note.user.name}} )</h2> 

	</div>

	<div class="panel-body">
		<h4> </h4>
		<h3>{{note.description}}</h3><br>
		<p>{{note.content}} </p>

		<h3><span class="label label-info">{{note.category.category}}</span></h3>

	</div>

	<div class="panel-footer">
		<a ng-href="#/notes/{{note.id}}/edit" class="btn btn-default">Edit Note</a>
		<!--a href="" ng-click="deleteNote(note)" class="btn btn-danger">Delete Note</a-->
		
		<!-- Button trigger modal -->
	 <a ng-href="" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
     Delete Note
	 </a>


	</div>
</div>


<!-- Delete note Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
      </div>
      <div class="modal-body">
       <h3> <strong>{{note.title}}</strong> by {{note.user.name}}<h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="deleteNote(note)" type="button" class="btn btn-danger">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>