<div class="panel panel-default">
	<div class="panel-heading text-center">
	<h1>NoteWrangler App</h1>
	</div>

	<div class="panel-body">
	<p><span class="glyphicon glyphicon-star"> </span> Built following following Codeschool's - Soup to Bits: Staying Sharp with Angular.js.</p>
	<p><span class="glyphicon glyphicon-star"> </span>Angular JS front end.</p>
	<p><span class="glyphicon glyphicon-star"> </span>Ruby on Rails back end.</p>
	<p><span class="glyphicon glyphicon-star"> </span>The App has been extended to include several other features checkout the <a href="#/features">feature</a> list for full details.</p>
	<p><span class="glyphicon glyphicon-star"> </span>Styled using<a href="http://getbootstrap.com/"> Twitter Bootstrap.</a></p>
	</div>
</div>