<nav class="navbar navbar-inverse navbar-bottom">
	
	<div class="container">	  	
	    <p class="footertext text-center"> App built following Codeschool's - Soup to Bits: Staying Sharp with Angular.js :-<a href="https://www.codeschool.com/screencasts/soup-to-bits-staying-sharp-with-angular-js"> CodeSchool</a></p>
	     <p class="footertext text-center"> Icons from :- <a href="http://glyphicons.com/"> Glyphicons</a></p>

	 

		  <div class="footerlinks">  
		     <ul class="nav navbar-nav">
		    <li><a ng-href="#/notes"><span class="glyphicon glyphicon-list-alt"> </span> Notes</a></li>
		    <li><a ng-href="#/users"><span class="glyphicon glyphicon-user"> </span> Users</a></li>
		    <li><a ng-href="#/categories"> <span class="glyphicon glyphicon-tags"> </span>  Categories</a></li>
		    <li><a href="#/about"> <span class="glyphicon glyphicon-eye-open"></span> About</a></li>
	        <li><a href="#/features"> <span class="glyphicon glyphicon-folder-open"></span> Features</a></li>
			</ul>
		 </div>

	</div>
	
</nav>



