  <a class="dropdown-toggle" type="button" id="infoMenu" data-toggle="dropdown" aria-expanded="true"><span class="glyphicon glyphicon-exclamation-sign"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="InfoMenu">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Features</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact</a></li>
  </ul>
