  <a class="dropdown-toggle" type="button" id="infoMenu" data-toggle="dropdown" aria-expanded="true"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="InfoMenu">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/about"><span class="glyphicon glyphicon-eye-open"></span> About</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/features"><span class="glyphicon glyphicon-folder-open"></span> Features</a></li>
  </ul>


