<div class="panel panel-primary">
			<div class="panel-heading">
				<h2>{{user.name}}</h2>
				<div class="img-thumbnail">
				<gravatar email="user.email"></gravatar>
				</div>
			</div>
	
			<div class="panel-body">
				
					<div class="">
					{{user.bio}}
					</div>
				</div>

			<div class="panel-footer">
			
				<!-- only show if email icon if user.email exists -->
				<div ng-show="user.email">
				<span class="glyphicon glyphicon-envelope"></span><span> {{user.email}}</span>
				</div>

				<div ng-show="user.site">
				<span class="glyphicon glyphicon-globe"></span><span> {{user.site}}</span>
				</div>

				<a ng-href="#/users/{{user.id}}/edit" class="btn btn-default">Edit</a>
				<button ng-click="deleteUser(user)" type="button" class="btn btn-danger">Delete</button>
			
			</div>

</div>


