	<form name = "notesForm" novalidate>
		<div class="panel-body">
			
		<!-- TITLE text field -->
			<fieldset class="form-group" ng-class="{ 'has-error' : notesForm.title.$invalid && notesForm.title.$touched }">
				<label for="title">Title</label>
				<input class="form-control" maxlength="50" type="text" id="title" name ="title" ng-model="note.title" required>
				<!--Character counter-->
				<span class="text-muted pull-right"><small>{{50 - note.title.length}}</small></span>
				<!-- Basic validation $touched from angular version 1.3 -->
				<span ng-show="notesForm.title.$invalid && notesForm.title.$touched" class="help-block">Title is required.</span>


			</fieldset>

		<!-- DESCRIPTION text field -->
			<fieldset class="form-group" ng-class="{ 'has-error' : notesForm.description.$invalid && notesForm.description.$touched }">
				<label for="description">Description</label>
				<input class="form-control" type="text" id="description" name ="description" ng-model="note.description" required>
				<!--Character counter-->
				<span class="text-muted pull-right"><small>{{100 - note.description.length}}</small></span>
				<!-- Basic validation $touched from angular version 1.3 -->
				<!-- Basic validation -->
				<span ng-show="notesForm.description.$invalid && notesForm.description.$touched" class="help-block">Description is required.</span>
			</fieldset>

		<!-- CATEGORY select -->
			<fieldset class="form-group" ng-class="{ 'has-error' : notesForm.category.$invalid && notesForm.category.$touched }">
				<label for="category">Category</label>
				<!-- note from service category_id field in json -->
				<select name="category" ng-options="category.id as category.name for category in categories" ng-model="note.category_id" required></select>
				<!-- Basic validation -->
				<span ng-show="notesForm.category.$invalid && notesForm.category.$touched" class="help-block">Category is required.</span>
			</fieldset>

		<!-- USER select -->
			<fieldset class="form-group" ng-class="{ 'has-error' : notesForm.user.$invalid && notesForm.user.$touched }">
				<label for="User">User</label>
				<!-- user from service user_id field in json -->
				<select name="user" ng-options="user.id as user.name for user in users" ng-model="note.user_id" required ></select>
				<span ng-show="notesForm.user.$invalid && notesForm.user.$touched" class="help-block">User is required.</span>
				</fieldset>

		<!-- CONTENT text area -->
			<fieldset class="form-group" ng-class="{ 'has-error' : notesForm.content.$invalid && notesForm.content.$touched }">
				<label for="content">Note Content</label>
				<textarea maxlength="500" class="form-control" rows="4" type="text" id="content" name ="content" ng-model="note.content" required> </textarea>
				<!--Character counter-->
				<span class="text-muted pull-right"><small>{{500 - note.content.length}}</small></span>
				<!-- Basic validation -->
				<span ng-show="notesForm.content.$touched && notesForm.content.$invalid" class="help-block">Note Content is required.</span>
				
			</fieldset>
		</div>

		<div class="panel-footer">
		<!-- disable submit if saving or required fields not complete -->
		<input type="submit" value="{{submitting ? 'saving....' : 'save'}}" class="btn btn-default" ng-click="saveNote(note)" ng-disabled="submitting 
		|| notesForm.title.$invalid 
		|| notesForm.description.$invalid 
		|| notesForm.content.$invalid
		|| notesForm.user.$invalid 
		|| notesForm.category.$invalid">
		</div>

	</form>