<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a href="/#/">NoteWrangler</a>
      </div>
        
	<ul class="nav navbar-nav">
	    <li ng-class="{'active': isPage('notes')}"><a ng-href="#/notes">Notes</a></li>
	    <li ng-class="{'active': isPage('users')}"><a ng-href="#/users">Users</a></li>
	    <li ng-class="{'active': isPage('categories')}"><a ng-href="#/categories">Categories</a></li>
	</ul>

  
    </div>
   </div>

</nav>