.modal-footer
{
	background-color: #f5f5f5;
}

.modal-header
{
	background-color: #f5f5f5;
}

body {
	background-color: #3D3D3D;
}


a {
	color : gray;
}

a:hover {
	text-decoration: none;
	color : black;
}

a:visited {
	text-decoration: none;
}
