.modal-footer
{
	background-color: #f5f5f5;
}

.modal-header
{
	background-color: #f5f5f5;
}

body {
	background-color: #3D3D3D;
}


a {
	color : white;
}

a:hover {
	font-style: normal;
}



.navbar-brand:hover { 
	color : white;
	font-style: normal;
}