<div ng-hide="showUndo" class="panel panel-primary">
		<div class="panel-heading">
			<h1>Edit: {{category.name}}</h1>
			<a ng-href="" ng-click="flagToDelete(category)" class="btn btn-danger">Delete Category</a>	
		</div>

		<div ng-include src="'templates/categories/categoryform.html'"></div>

</div>

<!-- show delete undo bar -->
<div class="alert alert-warning" role="alert" ng-show="showUndo">
<strong>{{category.name}} Deleted</strong>
<a class="btn btn-link" ng-click="undoDelete()">Undo</a>
<button type="button" class="close" data-dismiss="alert" ng-click="deleteCategory(category)"aria-label="Close"><span aria-hidden="true">&times;</span></button>

</div>

	
