<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">
<head>
  <title>NoteWranglerRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/notes">
    <!--    <img alt="notewrangler" src="/images/note.png"> -->
    <h3 class="navbar-text navbar-left" >Note Wrangler</h3>
      </a>
    	
    	<a href="#/users" class="navbar-text navbar-left" >Users</a>

      
    </div>
  </div>
</nav>

	<div ng-view class="container-fluid"> </div>



</body>
</html>
