<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">
<head>
  <title>NoteWranglerRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<h1>Note Wrangler</h1>
   <!--   <a class="navbar-brand" href="#">
        <img alt="Ruby on rails" src="/images/Rails.png">
      </a>
       <a class="navbar-brand" href="#">
        <img alt="Angular" src="/images/Rails.png">
      </a> -->
      
    </div>
  </div>
</nav>

	<div ng-view class="container-fluid"> </div>



</body>
</html>
