<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">
<head>
  <title>Note Wrangler Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<!-- custom directive -->
<nw-page-nav></nw-page-nav>

<div ng-view class="container-fluid"> </div>

<div ng-include src="'templates/footer.html'"></div>

</body>




<!-- load md5 crypto library -->
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
</html>
